@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&display=swap");

@import "tailwindcss";

/* Perfect Infinite Loop Animation */
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.3333%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 18s linear infinite;
  width: fit-content;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease;
}
/* Fix internal container layout */
.custom-date-container {
  width: 100% !important;
}

/* Fix the actual text input */
.custom-date-input {
  width: 100% !important;
  text-align: left !important;
  padding-left: 10px  !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
}

/* Force placeholder + text to stay left */
.custom-date-container .rmdp-input {
  width: 100% !important;
  text-align: left !important;
  padding-left: 4px !important;   /* adjust freely */
  padding-right: 4px !important;
}
.page-wrapper {
  margin-top: 100px;
}
.range-slider {
  position: relative;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
}

.range-slider .range-selected {
  position: absolute;
  height: 100%;
  background: #8B5C42;
  border-radius: 3px;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  top: -6px;
  left: 0;
  width: 100%;
  height: 6px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.range-input input::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #8B5C42;
  border-radius: 50%;
  cursor: pointer;
}